<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link th:href="@{estilo.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <title>game.log</title>
</head>

<body class="fundoprincipal">
    <header>
        <header>
        <nav class="navbar navbar-expand-lg fundonav shadow-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img th:src="@{img/logogamelog.png}" alt="Logo" width="120px" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item active p-1">
                        <img th:src="@{img/inicio.png}" alt="Ícone de ínicio" width="22px" height="22px">
                            <a class="nav-link text-white d-inline-flex align-items-center text-nowrap" aria-current="page" href="/">Início</a>
                        </li>
                        <li class="nav-item p-1">
                        <img th:src="@{img/sobre.png}" alt="Sobre" width="22px" height="22px">
                            <a class="nav-link text-white d-inline-flex align-items-center text-nowrap" href="#sobre">Sobre</a>
                        </li>
                        <li class="nav-item p-1">
                        <img th:src="@{img/gamepad.png}" alt="Dashboard" width="22px" height="22px">
                            <a class="nav-link text-white d-inline-flex align-items-center text-nowrap" href="#sobre">Dashboard</a>
                        </li>
                        <li class="nav-item p-1">
                        <img th:src="@{img/apoiar.png}" alt="Apoie" width="22px" height="22px">
                            <a class="nav-link text-white d-inline-flex align-items-center text-nowrap" href="#sobre">Apoie</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav align-items-center gap-1">
                        <li class="nav-item">
                            <a href="#login">
                            <img th:src="@{img/entrarIcon.png}" alt="Ícone de ínicio" width="22px" height="22px">
                                <a class="nav-link text-white d-inline-flex align-items-center text-nowrap gap-2" href="#sobre">Login</a>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="background mt-6 pb-5 h-100">
        <img th:src="@{/img/bannerreg.png}" class="card-img rounded w-25 mx-auto d-block" alt="...">
        <form class="w-25 text-white mx-auto mt-2 border-0" data-bs-theme="dark"
        th:action="@{/cadastro}" th:object="${usuario}" method="POST">

        <div class="mb-3">
            <label for="nome" class="form-label fw-bold">Nome de usuário</label>
            <input type="text" class="form-control form-control-sm" id="nome" th:field="*{nome}" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label fw-bold">E-mail</label>
            <input type="email" class="form-control form-control-sm" id="email" th:field="*{email}" required>
        </div>

        <div class="mb-3">
            <label for="senha" class="form-label fw-bold">Senha</label>
            <input type="password" class="form-control form-control-sm" id="senha" th:field="*{senha}" required>
        </div>

        <button type="submit" class="btn botao mx-auto text-white fw-bold p-2 px-4 mt-2 rounded-2">CADASTRAR</button>
    </form>
       </section>
    </main>

   <footer class="bg-body-tertiary text-center text-lg-start">

    <div class="text-center p-3 fundonav text-white">
        © 2026 FATEC Games
    </div>

    </footer>

</body>
</html>
